*{
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

body{
    background-color: white;
}

#black-square{
    width: 8vw;
    height: 70vh;
    background-color: rgba(9, 9, 9, 0.38);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}

#logo{
    top: 140px;
    right: 0;
    left: 0;
    position: absolute;
}

#main-text{
    top: 300px;
    left: 350px;
    font-size: 70px;
    font-family: "Staaliches",Serif;
    color: black;
    position: absolute;
}

#sub-text{
    top: 400px;
    left: 550px;
    font-size: 30px;
    font-family: "sans-serif",Serif;
    color: black;
    position: absolute;
}

#accounts{
    font-size: 16px;
    color: black;
    top: 609px;
    right: 120px;
    position: absolute;
}

#account-icons{
    top: 630px;
    right: 20px;
    position: absolute;
}
