*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: white;
}

#top-header{
    width: 100vw;
    height: 15vh;
    background-color: white;
    position: fixed;
}

#text-1{
    position: absolute;
    top: 42px;
    left: 35px;
    font-size: 20px;
}

#navigations{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    margin: auto;
}

#navi>li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#navi>li>a{
    text-decoration: none;
    font-family: "Bell MT", serif;
    color: black;
    font-size: 20px;
}


#home-section-container{
    width: 100vw;
    height: 100vh;
    background-color: white;
}

#square{
    width: 30vw;
    height: 70vh;
    background-color: #00A2FF;
    position: absolute;
    top: 150px;
    right: 90px;
}

#home-photo{
    top: 190px;
    right: 10px;
    position: absolute;
}

#text-2{
    position: absolute;
    top: 300px;
    left: 50px;
}

#main-title{
    font-size: 33px;
}

#sub-main-title{
    font-size: 36px;
    font-family: "Playfair Display" ,Serif;
}

#sub-title{
    font-size: 28px;
}

#text-3{
    font-size: 15px;
    top: 450px;
    left: 50px;
    color: black;
    position: absolute;
}

#account-images{
    top: 470px;
    left: 50px;
    position: absolute;
}

